h1 {
  color: green;
  text-align: center;
}

body {
	background-color: white
}

/* Add a background color to the top navigation */
.topnav {
  background-color: #827e7d;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #800000;
  color: white;
}

section.contact {
  background-color: #827e7d;
  overflow: hidden;
  height: 45px;
}

section.contact p {
  float: left;
  color: #f2f2f2;
  background-color: #827e7d;
  text-align: center;
  padding: 14px 16px;
  height:10px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  bottom: 20px;
}